:root {
   --cell-count: 9;
   --cell-padding: 0.25rem;
   --boardcell-size: 5rem;

   @media screen and (max-width: 768px) {
      --boardcell-size: calc((100vmin - var(--cell-padding) * 8) / var(--cell-count));
   }
}

body {
   background-color: #0d0d0d;
   margin: 0;
}
.board {
   display: grid;
   grid-template-columns: repeat(var(--cell-count), var(--boardcell-size));
   grid-template-rows: repeat(var(--cell-count), var(--boardcell-size));
   width: fit-content;
   gap: var(--cell-padding);
}

.rack {
   background-color: hsl(34, 33%, 53%);
   padding: 0.5rem;
   margin-top: 0.5rem;
   display: flex;
   justify-content: space-evenly;
   width: calc((var(--boardcell-size) * 9) + (0.25rem * 8) - 1rem);
}

.boardcell,
.cell {
   width: var(--boardcell-size);
   height: var(--boardcell-size);
   background: hsl(34, 94%, 82%);
   position: relative;

   &::before {
      pointer-events: none;
      font-family: monospace;
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 1rem;
      translate: -50% -50%;
   }
}

.cell {
   &::before {
      content: "A";
      font-size: 1.5rem;
   }
}

.boardcell {
   &.tw {
      background-color: rgb(91, 91, 255);

      &::before {
         content: "3W";
      }
   }

   &.dw {
      background-color: rgb(151, 151, 255);
      &::before {
         content: "2W";
      }
   }

   &.tl {
      background-color: rgb(255, 91, 91);
      &::before {
         content: "3L";
      }
   }

   &.dl {
      background-color: rgb(255, 155, 155);
      &::before {
         content: "2L";
      }
   }

   &.start {
      background-color: hsl(0, 0%, 33%);
   }
}
